body {
  background: #C7C9CB;
}

.logo_header a,
.logo_header a:visited {	
  border-bottom: 1px solid #333;
}

.logo_header {
  margin-bottom: 80px;
}

#feed-posts {
  width: 100%;
  float: left;
  margin: 10px;
  margin-bottom: 150px !important;
  padding: 0;
  text-align: center;
  min-height: 2000px;	
}

.post {
  margin: 20px;
  position: relative;
  line-height: 0;
  display: inline-block;
  vertical-align: bottom;
  color: #4D5350;
}

.post.full {
  margin: 0px;
  display: block;  
}

.post .img-tweet {
  display: none;
  position: absolute;
  top: 0px;
  background: #B6FFCB;
  width: 100%;
  height: 100%;
}

.post .img-tweet .text {
  padding: 0px 40px 0px 40px;  
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
}

.post .img-tweet span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

.post .tweet {	
  margin: 0px auto 0px auto;	
  width: 50%;
  padding: 40px 20px;
  line-height: 1.4em;
}

.post img {
  max-height: 750px !important;
  max-width: 900 !important;
}

